<ion-header [class.header-hidden]="!isHeaderVisible" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openAddressModal()">
      <ion-icon name="location-outline"></ion-icon>
      <span class="location-text">{{ address || '' }}</span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true">
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="12">
        <ion-searchbar 
          placeholder="Search for restaurants, cuisine, or dishes" 
          animated="true"
          debounce="300">
        </ion-searchbar>
      </ion-col> -->
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="restaurant-list">
          <ion-list-header>
            <ion-label class="list-header">Popular Restaurants</ion-label>
          </ion-list-header>
          
          <ion-item 
            class="restaurant-item" 
            *ngFor="let restaurant of restaurants" 
            (click)="selectRestaurant(restaurant)"
            lines="none">
            <ion-avatar slot="start">
              <ion-img [src]="restaurant.image" [alt]="restaurant.name"></ion-img>
            </ion-avatar>
            <ion-label class="restaurant-label">
              <h2>{{ restaurant.name }}</h2>
              <p>
                <ion-icon name="star" color="warning"></ion-icon>
                {{ restaurant.rating }} · {{ restaurant.cuisine }}
              </p>
              <p>{{ restaurant.description }}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>