// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-border-color: #dddddd;
    --ion-tab-bar-background: #ffffff;
    --ion-toolbar-background: #ffffff;
    --ion-toolbar-border-color: #dddddd;
    --ion-toolbar-color: #000000;
    --ion-item-background: #ffffff;
    --ion-item-border-color: #dddddd;
    --ion-item-color: #000000;
  }
  